[Desktop Entry]
Name=Battle.net
Comment=Blizzard Battle.net Launcher
Exec=bash -c "export DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus; notify-send 'Starting Battle.net & WowUp' -i battle.net; hyprctl dispatch workspace 2 & /home/sn0w/.local/bin/battlenet & /usr/bin/wowup-cf & /usr/bin/warcraftlogsuploader & while ! hyprctl clients -j 2>/dev/null | grep -qi 'battle'; do sleep 1; done; notify-send 'Ready' 'Battle.net, WowUp & WarcraftLogs launched' -i battle.net"
Icon=battle.net
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=battle.net launcher.exe
